name: Prod Branch

on:
    push:
        branches:
            - 'prod'

jobs:
    artifact:
        strategy:
            matrix:
                java: [ 11 ]
        name: Publish - GitHub Packages
        if: >
            contains(github.event.head_commit.message, '[skip-release]') == false
            && contains(github.event.pull_request.labels.*.name, 'skip-release') == false
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Bump version and push tag
              id: tag_version
              uses: mathieudutour/github-tag-action@v5.1
              with:
                  github_token: ${{ secrets.GH_TOKEN }}

            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: ${{ matrix.java }}

            - name: Publish artifact on GitHub Packages
              run: mvn -B clean deploy -DskipTests
              env:
                  VERSION: ${{ steps.tag_version.outputs.new_tag }}
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

            -   name: Create a GitHub release
                uses: actions/create-release@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ steps.tag_version.outputs.new_tag }}
                    release_name: Release ${{ steps.tag_version.outputs.new_tag }}
                    body: ${{ steps.tag_version.outputs.changelog }}
